.read_more_block {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.read_more_button {
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	float: right;
	padding: 2px;
}

.read_more_button svg {
	fill: white;
}