.read_more_block {
	width: 40px;
	float: right;
}

.read_more_button {
	width: 18px;
	height: 18px;
	border-radius: 16px;
	padding: 6px;
	float: right;
	margin-right: 8px;
}

.read_more_button svg {
	fill: white;
}